html, body { height: 100vh; width: 100vw;padding :0px}
body {
 margin: 0; 
 font-family: Roboto, "Helvetica Neue", sans-serif;
 max-width: 600px;
 margin: 0 auto;

}
*{
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;         /* Opera/IE 8+ */

    touch-action: manipulation;

 }


#large_logo{
    width: 90%;
}

#datePicker{
    padding: 0;
    font-size: 1rem;
    border-radius: 0;
    border: 10px solid #efefef;
    background-color: #efefef;

}

.next_bt_right{
    padding-right:5px;
}

.next_bt_left{
    padding-left:5px;
}

.pointer{
    cursor: pointer;
}

#top_right {
    width: 60px;
    height: 100%;
    padding: 10px;
/*    background-color: red;*/
}
#top_right img {
    height: 100%;
    border-radius: 10px;
}

#top_left {
    width: 60px;
    height: 100%;
    padding: 10px;
/*    background-color: red;*/
}

#top_left img {
    height: 100%;
    border-radius: 10px;
}
#top_center {
    width: calc(100% - 60px);
    height: 100%;
    padding:10px;
    padding-right: 40px;
    text-align: left;
}

#top_center img {
    height: 100%;
}


 #top_nav {
    width: 100%;
    padding: 0;
    height: 60px;
    display: flex;
    text-align: center;
    vertical-align: middle;
/*    background-color: green;*/
}




#logo_div{
    height:100%;
    padding: 5px;
    width: 60px;
}

#page_title {
    height: 60px;
    display: flex;
    width: calc(100% - 120px);
    padding:5px 10px;
    font-size: 1.5rem;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;      
     justify-content: center;
}

.logo {
    border: 0.1px solid black;
}

.full_page {
    padding: 5px;
    margin: 0;
    width:100%;
    margin: 0px auto;
}

ul {
    text-align: left;
}

#areas_input {

    width:calc(100% - 60px);
    margin: 0 auto;
    font-size:1.2rem;
    background-image: url('./assets/mg.svg');
    background-position: 12px 14px; 
    background-size: 18px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    padding: 12px 20px 12px 40px;
    margin-bottom:30px;
}


#countries_input {

    width:calc(100% - 100px);
    margin: 0 auto;
    font-size:1.2rem;
    background-image: url('./assets/mg.svg');
    background-position: 12px 14px; 
    background-size: 18px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    padding: 12px 20px 12px 40px;
    margin-bottom:30px;

}

a{
    color: black;
    text-decoration: none;
}
.areas_list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}
.areas_list a{
    color: black;
    text-decoration: none;
}

.areas_list li {
    padding: 10px;
    font-size:1.2rem;
}

#country_name {
    padding:5px 10px;
    font-size: 1.5rem;
    text-align:center;
}

.local_name {
    color:#bbb;
}

#countries_select{
    text-align: center;
}
#areas_select  {
            text-align: center;
        }
#sectors_select  {
    text-align: center;

}

#sectors_select h1 {
            text-align: center;
            margin-bottom: 5px;
        }
   
/*
.small_td{
 display: inline-flex;
      width: 54px;
      height: 60px;
      font-size: 0.8rem;
      cursor: pointer;
      user-select: none;
      -webkit-tap-highlight-color: transparent;

    }
.small_td img {
    width: 12px;
    height: 12px;
    margin-left: 5px; 
  }
.big_td{
 display: inline-block;
      width: 180px;
      height: 60px;
      cursor: pointer;
      user-select: none;
      -webkit-tap-highlight-color: transparent;
}


#date_div {
    user-select: none;
    width: 100%;
    text-align: center;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}*/

#sectors_select #sectors_table {
            width: 100%;
/*            max-width: 600px;*/
            border-collapse: collapse;
            margin: 0px auto;
        }

#sectors_select th {
          position: sticky;
          top: 0px;
          background: white;
          text-align: center;
            vertical-align: middle;
            border: 0px solid #ccc;
            padding: 0px;
        
/*        height:50px;*/
}
#sectors_select td {
            
            text-align: center;
            vertical-align: middle;
            border: 0px solid #ccc;
            padding: 0px;
        }




#sectors_select td:nth-child(1) {
            /* Set the width for the left column */
            width: 25%;
        }

#sectors_select td:nth-child(2) {
            /* Let the right column take the remaining space */
            width: 75%;
            background-color: red;

        }


#sectors_select svg {
            width: 100%;
            height: 100%;
            z-index: 1000;
            max-height: 40px;
        }

#sectors_select svg polygon:nth-child(2) {
            fill:#000;
        }

#sectors_select svg polygon:nth-child(1) {
            fill:#ffc922 ;
            stroke: black;
            stroke-width: 0.05;
        }


#sectors_select th span.sort-by { 
    padding-right: 18px;
    position: relative;
}

.sort-by-up:before {
    border: 4px solid transparent;
    content: "";
    display: block;
    height: 0;
    right: 5px;
    top: 50%;
    position: absolute;
    width: 0;
}

.sort-by-down:after {
    border: 4px solid transparent;
    content: "";
    display: block;
    height: 0;
    right: 5px;
    top: 50%;
    position: absolute;
    width: 0;
}

.content{
    text-align: justify;
}
/*#sectors_select span.sort-by:before,
#sectors_select span.sort-by:after {
    border: 4px solid transparent;
    content: "";
    display: block;
    height: 0;
    right: 5px;
    top: 50%;
    position: absolute;
    width: 0;
}*/
#sectors_select span.sort-by:before {
    border-bottom-color: #666;
    margin-top: -9px;
}
#sectors_select span.sort-by:after {
    border-top-color: #666;
    margin-top: 1px;
}

th {
    font-weight: normal;
    cursor: pointer;
}

.bold {
    font-weight: bold;
}



.date_select_container {
  width: 100%;
  display: flex;
  margin: 16px 0;
        -webkit-tap-highlight-color: transparent;

}

.date_jump_section {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align:center;
  padding:0;
  border:0;
  font-size: 0.8rem;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    user-select: none;
}

.justify_left {
    justify-content: left;
}

.justify_right {
    justify-content: right;
}
.date_select_section {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

.date_jump_section img {
  width: 12px;
  height: 12px;
  margin: 1px; /* Optional: Add some spacing between text and image */
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

.overlay {
    position: fixed; 
    top: 60px; 
    right: 0; 
    bottom: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    max-width: 600px;
    background-color: white;
    margin: 0px auto;
    padding: 0 20px;
    text-align: justify;
    font-size: 1rem;
/*    overflow-y:scroll;*/
}

.overlay ul {
    list-style: none;
    font-size: 1.5rem;
    padding-left: 10px;
}

.overlay li {
    padding: 20px;
}

.overlay a {
 text-decoration: none;
 color: black;
}

.overlay img {
    width: 100%;
}

h3{
    padding-left:10px;
    padding-right:10px;
    font-size: 1.3rem;
/*    text-decoration: underline;*/
}

h2{
    padding-left:10px;
    padding-right:10px;
}

p {
/*    width: calc(100% - 20px);*/
    padding-left:10px;
    padding-right:10px; 
}

#menu {
    list-style: none;
    padding-left: 10px;
    cursor: pointer;
    text-decoration: underline;
}
#menu li{
    padding: 5px;
    padding-left: 0;
}

       .iframe-container {
            width: 400px;
            height: 400px; /* (400 - 67) */
            overflow: hidden;
            margin: 0 auto;

        }

        iframe {
            width: 100%;
            height: 100%;
/*                        margin-top: -67px;*/

        }