<!-- src/app/path-display/path-display.component.html -->
<div id="top_nav">
  <!-- <div id="top_left"></div> -->
  <div id="top_center">
   <a href="/" *ngIf="selectedCountryName != null || nav_open || where != null"><img  width="94" height="40" src="./assets/sun-beta-high-resolution-logo.png"/></a>
  </div>  
  <div id="top_right" (click)="toggle_nav()">
    <img *ngIf="!nav_open" width="40" height="40" src="./assets/icons8-menu-50.png"/>
    <img *ngIf="nav_open" width="40" height="40" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAABBUlEQVR4nO3ZTQqDMBAF4HeKPOkV2+MWbE9jKXUhRcQk8xeZt3Il8xFNZgiQyWQyV8odwORdBH41fGtpygPAAmB2xkxrDctaU3UKgOf6gjeAG+zDTQ2vnho8MZRCeGIojfDAUAthiaE2wgJjhtDEmCM0MG4ISYw7QgITBtGDCYdowYRF1GDCI85ghkEcYYZD7M0Q899zhEGteWWGW4lttp+T53DWlUt8Wtz5sSOMzVU52p2GwfDEFhsew4pzIiyGDYddOAw7TuwwGAq0He4YCvZObhgqNIDmGCp2sWYYi1a8aGMs54mihfEYioo0xnOyK1KYCONpkcBc5urtMpehmUwmg3D5AAklyc9YEtl/AAAAAElFTkSuQmCC"/>
  </div>
</div>

<div id="countries_select" class="full_page" *ngIf="selectedCountryName == null">
  <div style="font-size: 2rem;padding: 20px;margin:20px 0" class="bold">
    <img  id="large_logo"  src="./assets/sun-beta-high-resolution-logo.png"/>
     <br> <br>
   Daily sun and shade <br>
   times at the crag<br>
  </div>
  <input type="text" [(ngModel)]="inputText" (keyup)="getFilteredCountries()" id="countries_input"
  placeholder="Type to filter countries">
  <!-- <br><span style="">Countries</span> -->
  
  <ul class="areas_list">
    <div class="bold" style="padding: 10px;font-size:1.2rem;">Countries</div>
    <li *ngFor="let country of filtered_countries" (click)="openUrl(normName(country.name))"><a href="{{country.name}}">
      {{country.name}} <span class="local_name" *ngIf="country.localName">- {{country.localName}} </span></a>
    </li>
  </ul>
</div>

<div id="areas_select" class="full_page" *ngIf="selectedCountryName && selectedAreaName == null">
  <h1>{{this.selectedCountryName}}</h1>

	  <input type="text" [(ngModel)]="inputText" (keyup)="getFilteredAreas()" id="areas_input"
  placeholder="Type to filter areas">
  <ul class="areas_list">
        <div class="bold" style="padding: 10px;font-size:1.2rem;">Areas</div>

    <li *ngFor="let area of filtered_areas" (click)="openUrl(normName(selectedCountryName)+'/'+normName(area.name))"><a href="{{normName(selectedCountryName)}}/{{normName(area.name)}}">
      {{area.name}} <span class="local_name" *ngIf="area.localName">- {{area.localName}} </span></a>
    </li>
  </ul>
</div>






<div id="sectors_select" class="full_page"  *ngIf="selectedAreaName">
<h1>{{this.selectedAreaNameForDisplay}}</h1>

<!--   <div id="date_div">
<div class="big_td" *ngIf="tiny">
      <input type="date" id="datePicker" (change)="dateChanged(event);"/>
    </div><br>
    <div class="small_td" (click)="changeMonth(-1)">
      - Month
    </div>
      <div class="small_td" (click)="changeDay(-7)">
        - Week
    </div>
    <div class="big_td" *ngIf="!tiny">
      <input type="date" id="datePicker" (change)="dateChanged(event);"/>
    </div>
    <div class="small_td" (click)="changeDay(+7)">
      Week +
    </div>  
    <div class="small_td" (click)="changeMonth(+1)">
      Month +
    </div> 

  </div> -->

  <div class="date_jump_section date_select_section" *ngIf="tiny">
    <input type="date" id="datePicker" (change)="dateChanged(event);"/>
  </div>

<div class="date_select_container">

  <div class="date_jump_section justify_right" (click)="changeMonth(-1)">
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAAArklEQVR4nO3Y0QqCQBRF0f2FZTGDD/bvQUEFfYKBMjAQhD537uUs8N3DVnAEs9ROwBN4A4WgRmAGln61MeFHLMCLBCNm4EwgdWPEB5gIxCNUuIQKl1DhEipcQoVLqKj+ABRRM5QYdg5F7bAUyj3DiFRDhiyPFv3/09bLfiGg4jGiisuIKi4jqriMKJdR5TKqXEZVqjLjzuHsSJIxN4L6HfMgsPY4XXuNw79vxoyvFeVU7Pycczv1AAAAAElFTkSuQmCC" alt="Prev Month">    <span>Month</span>

  </div>
  <div class="date_jump_section" (click)="changeDay(-7)">
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAAArklEQVR4nO3Y0QqCQBRF0f2FZTGDD/bvQUEFfYKBMjAQhD537uUs8N3DVnAEs9ROwBN4A4WgRmAGln61MeFHLMCLBCNm4EwgdWPEB5gIxCNUuIQKl1DhEipcQoVLqKj+ABRRM5QYdg5F7bAUyj3DiFRDhiyPFv3/09bLfiGg4jGiisuIKi4jqriMKJdR5TKqXEZVqjLjzuHsSJIxN4L6HfMgsPY4XXuNw79vxoyvFeVU7Pycczv1AAAAAElFTkSuQmCC" alt="Prev Week">    <span>Week</span>

  </div>
  <div class="date_jump_section date_select_section" *ngIf="!tiny">
    <input type="date" id="datePicker" (change)="dateChanged(event);"/>
  </div>
  <div class="date_jump_section" (click)="changeDay(7)">
    <span>Week</span>
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAqklEQVR4nO3ZQQrCQBBE0e8JDdJDFvHsLgwKQW8QQQmM4MLsq5t6ILhM8SeQKJhJacATuAEDSR2AB/DunxUYSWr5GZJ6zKlffIkx8WfMCziTUHiMqHAZUeEyosJlRLmMKpdR5TKqSpUZd17OBoqMmSky5EoyJY5W27nZJxLxCBUuocIlVLiECpdQ4RIqmh8ARbQKJY5V/gydK4zY3CuM+B6t7UeCS/9uVtUHEhTs/ZXHkMQAAAAASUVORK5CYII=" alt="Next Week">
  </div>
  <div class="date_jump_section justify_left" (click)="changeMonth(1)">
    <span>Month</span>
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAqklEQVR4nO3ZQQrCQBBE0e8JDdJDFvHsLgwKQW8QQQmM4MLsq5t6ILhM8SeQKJhJacATuAEDSR2AB/DunxUYSWr5GZJ6zKlffIkx8WfMCziTUHiMqHAZUeEyosJlRLmMKpdR5TKqSpUZd17OBoqMmSky5EoyJY5W27nZJxLxCBUuocIlVLiECpdQ4RIqmh8ARbQKJY5V/gydK4zY3CuM+B6t7UeCS/9uVtUHEhTs/ZXHkMQAAAAASUVORK5CYII=" alt="Next Month">
  </div>
</div>




  <table id="sectors_table">
   <thead>
    <tr>
     <th class="bold" (click)="sortBy('sector_name')" id="sort_by_name_th">
      <span  class="sort-by sort-by-down" id="sort_by_name_arrow"></span>Sector
     </th>
     <th (click)="sortBy('shade')" id="sort_by_shade_th">
      <span  class="sort-by sort-by-down sort-by-up" id="sort_by_shade_arrow"></span>Shade
     </th>
    </tr>
    <tr>
     <th>
     </th>
     <th id="time_line">
     </th>
    </tr>
   </thead>
   <tbody id="tbody_el">
   </tbody>
  </table>
</div>


<div class="overlay" *ngIf="nav_open" style="z-index: 10;">
  <ul>
    <li>
      <span class="bold">Menu</span>
    </li>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/how-it-works">How it works</a>
  </ul>
</div>


<div  class="overlay"  *ngIf="where=='how-it-works'">
  <h2>How it works</h2>
  <img src="./assets/how-it-works.png"/>
  <p>
    Hi, my name is Om and I'm a "professional holiday climber". I don't climb that hard but I have taken to a professional level the process of optimizing my climbing days. 
  </p>
  <p>
    One of the main factors is sun and shade times at the crag and guidebooks only give you a general morning/evening description so at some point I realized it can't be that hard to figure out exactly. 
  </p>

</div>
