<!-- src/app/path-display/path-display.component.html -->
<div id="top_nav">
  <div id="logo_div"><a href="/"><img src="./assets/logo.svg"/></a></div>
  <div id="page_title">
    Sun Beta
  </div>  
  <div style="padding: 10px;"><img src="./assets/menu.svg"/></div>
</div>

<div id="countries_select" class="full_page" *ngIf="selectedCountryName == null">
  <div style="font-size: 1.3rem;padding: 20px;" class="bold">
   Daily sun and shade times at the crag
  </div>
  <input type="text" [(ngModel)]="inputText" (keyup)="getFilteredAreas()" id="areas_input"
  placeholder="Type to search countries">
  <ul class="areas_list">
    <li *ngFor="let country of countries" ><a href="{{country.name}}">
      {{country.name}} <span class="local_name" *ngIf="country.localName">- {{country.localName}} </span></a>
    </li>
  </ul>
</div>

<div id="areas_select" class="full_page" *ngIf="selectedCountryName && selectedAreaName == null">
	  <input type="text" [(ngModel)]="inputText" (keyup)="getFilteredAreas()" id="areas_input"
  placeholder="Type to search areas">
  <ul class="areas_list">
    <li *ngFor="let area of filtered_areas"><a href="{{selectedCountryName}}/{{area.name}}">
      {{area.name}} <span class="local_name" *ngIf="area.localName">- {{area.localName}} </span></a>
    </li>
  </ul>
</div>

<div id="sectors_select" class="full_page" *ngIf="selectedAreaName">
<h1>{{this.selectedAreaName}}</h1>
  <!-- <span class="pointer next_bt_left" (click)="changeMonth(-1)"> <-Month </span>
  <span  class="pointer next_bt_left"(click)="changeDay(-1)"> <-Day </span>
 -->
<!--  <table id="date_table">

  <tr>
    <td class="small_td">-Month</td>
    <td class="small_td">-Day</td>
    <td class="big_td"><input type="date" id="datePicker" (change)="dateChanged(event);"/></td>
    <td class="small_td">+Day</td>
    <td class="small_td">+Month</td>
  </tr>
 </table> -->
  <div id="date_div">

    <div class="small_td" (click)="changeMonth(-1)">
      - Month
    </div>
      <div class="small_td" (click)="changeDay(-7)">
        - Week
    </div>
    <div class="big_td">
      <input type="date" id="datePicker" (change)="dateChanged(event);"/>
    </div>
    <div class="small_td" (click)="changeDay(+7)">
      + Week
    </div>  
    <div class="small_td" (click)="changeMonth(+1)">
      + Month
    </div> 

  </div>
  <!-- <span  class="pointer next_bt_right"(click)="changeDay(1)"> Day-> </span>
  <span class="pointer  next_bt_right" (click)="changeMonth(1)"> Month-> </span>-->
  <br><br>
  <table id="sectors_table">
   <thead>
    <tr>
     <th class="bold" (click)="sortBy('sector_name')" id="sort_by_name_th">
      <span  class="sort-by sort-by-down" id="sort_by_name_arrow"></span>Sector
     </th>
     <th (click)="sortBy('shade')" id="sort_by_shade_th">
<span  class="sort-by sort-by-down sort-by-up" id="sort_by_shade_arrow"></span>Shade
     </th>
    </tr>
    <tr>
     <th>
     </th>
     <th id="time_line">
     </th>
    </tr>
   </thead>
   <tbody id="tbody_el">
   </tbody>
  </table>
</div>

